.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.confirmation {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blogPost {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  border: solid;
  border-width: 1px;
  margin-top: 5px;
}

.deleteButton {
  background-color: lightskyblue;
  border-radius: 5px;
  border-color: lightskyblue;
}
